services:
  booking_back_nginx_services:
    image: nginx
    container_name: booking_back_nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt
      - var/lib/letsencrypt:/var/lib/letsencrypt
    networks:
      - myNetwork
    ports:
      - '443:443'

networks:
  myNetwork:
    external: true

