services:
  booking_back_services:
    container_name: "booking_back"
    build:
      context: .
    networks:
      - myNetwork
    env_file:
      - .env_prod


  booking_celery_worker_services:
    container_name: "booking_celery_worker"
    build:
      context: .
    networks:
      - myNetwork
    env_file:
      - .env_prod


  booking_celery_beats_services:
    container_name: "booking_celery_beats"
    build:
      context: .
    networks:
      - myNetwork
    env_file:
      - .env_prod


networks:
  myNetwork:
    external: true

