services:
  booking_back_services:
    container_name: "booking_back"
    image: booking_back:latest
    networks:
      - myNetwork


  booking_celery_worker_services:
    container_name: "booking_celery_worker"
    image: booking_back:latest
    networks:
      - myNetwork
    command: "celery --app=src.tasks.celery_app:celery_instance worker -l INFO"


  booking_celery_beats_services:
    container_name: "booking_celery_beats"
    image: booking_back:latest
    networks:
      - myNetwork
    command: "celery --app=src.tasks.celery_app:celery_instance beat -l INFO"

networks:
  myNetwork:
    external: true